body{
    background-color: blanchedalmond;
}
#game-area{
    display:grid;
    border:1px solid black;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width:600px;
    height: 600px;
    margin: 0 auto;
}
.box{
    text-align:center;
    padding-top: 60px;
    font-size: 3rem;
    border: 1px solid black;
}